@use '@angular/material' as mat;
@use '../../../custom-theme' as app-theme; // Assuming custom-theme.scss is in src/

.footer {
  // Accessing colors from the custom theme defined in custom-theme.scss
  background: mat.get-color-from-palette(map-get(app-theme.$custom-theme, color, background), 'background');
  border-top: 1px solid mat.get-color-from-palette(map-get(app-theme.$custom-theme, color, background), 'divider');
  padding: 2rem 1.5rem;
  text-align: center;
  color: mat.get-color-from-palette(map-get(app-theme.$custom-theme, color, foreground), 'secondary-text');
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}
