<mat-sidenav-container class="layout-container">
  <mat-sidenav #sidenav [mode]="sidenavMode" [opened]="sidenavOpened" class="layout-sidenav" role="navigation">
    <app-sidebar (navLinkClick)="handleSidenavLinkClick()"></app-sidebar>
    <!-- Added (navLinkClick) to close sidenav on mobile after click -->
  </mat-sidenav>

  <mat-sidenav-content class="layout-sidenav-content">
    <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
    <main class="app-main-content" role="main">
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
