<div class="sidebar-container">
  <h3 mat-subheader>Main</h3>
  <mat-nav-list>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="active-list-item" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" (click)="onItemClick()">Dashboard</a>
    <a mat-list-item routerLink="/analytics" routerLinkActive="active-list-item" ariaCurrentWhenActive="page" (click)="onItemClick()">Analytics</a>
    <a mat-list-item routerLink="/projects" routerLinkActive="active-list-item" ariaCurrentWhenActive="page" (click)="onItemClick()">Projects</a>
    <a mat-list-item routerLink="/tasks" routerLinkActive="active-list-item" ariaCurrentWhenActive="page" (click)="onItemClick()">Tasks</a>
  </mat-nav-list>

  <mat-divider></mat-divider>

  <h3 mat-subheader>Management</h3>
  <mat-nav-list>
    <a mat-list-item routerLink="/users" routerLinkActive="active-list-item" ariaCurrentWhenActive="page" (click)="onItemClick()">Users</a>
    <a mat-list-item routerLink="/settings" routerLinkActive="active-list-item" ariaCurrentWhenActive="page" (click)="onItemClick()">Settings</a>
    <a mat-list-item routerLink="/reports-management" routerLinkActive="active-list-item" ariaCurrentWhenActive="page" (click)="onItemClick()">Reports</a>
  </mat-nav-list>
</div>
